@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-10 blockquote{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-1-10 blockquote p:nth-of-type(3){
	font-size: 16pt;
}

#chapter-2-1 table{
	border-collapse: collapse;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: left;
	width: 80%;
}

#chapter-2-1 table tr.spacer{
	border: none;
	height: 12px;
}

#chapter-2-1 table td.brace{
	border-left: 2px solid #000;
	padding-left: .5em;
}

#chapter-2-5 blockquote{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

/* Letter styling */

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	margin-bottom: 0.5em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* Poetry */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}