@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-10 blockquote{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-1-10 blockquote p:nth-of-type(3){
	font-size: 16pt;
}

#chapter-2-1 table{
	border-collapse: collapse;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: left;
	width: 80%;
}

#chapter-2-1 table tr.spacer{
	border: none;
	height: 12px;
}

#chapter-2-1 table td.brace{
	border-left: 2px solid #000;
	padding-left: .5em;
}
