@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-10 blockquote{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}

#chapter-1-10 blockquote p:nth-of-type(3){
	font-size: 16pt;
}